.about__icon i {
  color: #fd7013;
}

.about__img {
  padding: 10px;
  background: #eeeeee;
  margin-bottom: 20px;
  border-radius: 5px;
}

.about__img img {
  width: 100% !important;
  border-radius: 5px;
}

.about__img__box {
  /* width: 200px !important; */
  background: #eeeeee;
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
}

.about__content a {
  text-decoration: underline #fd7013;
  color: #393e46;
  background: transparent !important;
}


.lacrosse__img:hover{


}

@media only screen and (max-width: 992px) {
  .about__img__gallery {
    justify-content: center !important;
    margin-top: 50px;
  }

  .about__content h3 {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 768px) {
  .about__img__box {
    width: 150px !important;
  }
}
