.form__group input,
.form__group textarea {
  width: 100%;
  border: none;
  outline: none;
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
  color: #393e46;
  padding: 15px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.form__group input:focus,
.form__group textarea:focus {
  background: #eeeeee;
  box-shadow: inset 4px 4px 8px #cacaca, inset -4px -4px 8px #ffffff;
}

.form__group input::placeholder,
.form__group textarea::placeholder {
  font-size: 0.8rem;
  color: #fd7013;
}

.form button {
  color: #393e46;
}


